/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Permanent+Marker&family=Satisfy&display=swap");

:root {
  --first-color: #f1c490;
  --dark-color: rgb(0, 0, 0);
  --white-color: #f2f2f2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: "Orbitron";
  --biggest-font-size: 4rem;
  --h2-font-size: 2rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 750px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: black;
}

.float {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 8px;
}

.bx {
  margin-top: 8px;
}

.inicio {
  background-color: #323232;
  bottom: 80px;
}

li {
  line-height: 45px;
  margin: 8px 0 0 0;
}
li:hover {
  transform: scaleX(1.5);
}

h1,
h2,
h3,
p {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

p {
  line-height: 1.5;
  letter-spacing: 2.5px;
}

.section__title {
  text-align: left;
}

hr {
  border: none;
  margin: 25px 0;
  padding: 10px;
}

.text-section {
  text-align: left;
  max-width: 800px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

.bonito {
  margin: 10px 10px;
  width: 200px;
  border-radius: 15%;
}

.sqa,
.sqa2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  background-color: #353333;
  margin: 20px;
  margin-bottom: 45px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 4px 3px 12px rgb(11, 10, 44);
  text-decoration: none;
  max-width: 170px;
  min-height: 240px;
}

.social__img {
  width: 100px;
  height: 100px;
  color: aliceblue;
  margin: 10px;
  padding: 10px;
}

.card-container-trabajos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.trabajos__img {
  border-style: none;
  border-radius: 15%;
  width: 150px;
  color: aliceblue;
  margin: 10px;
  padding: 10px;
}

.sqa2:hover,
.sqa:hover {
  transform: scale(1.1, 1.1);
  background-color: #7d7d8393;
  box-shadow: 4px 3px 12px rgb(41, 66, 95);
}

/*===== FOOTER =====*/

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  color: aliceblue;
  place-items: center;
  text-align: center;
  background-color: black;
  line-height: 4rem;
}

.permanente {
  font-size: smaller;
  grid-column: 1 / 4;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

/*===== NAVBAR =====*/
.nav {
  margin-top: 10px;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}
@media screen and (max-width: 750px) {
  .nav__menu {
    position: fixed;
    right: auto;
    right: -100%;
    background-color: rgb(28, 53, 63);
    width: 65%;
    top: 4%;
    height: 60%;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    z-index: var(--z-fixed);
    -webkit-transition: 2s;
    transition: 1s;
  }
}

.nav__logo {
  color: var(--white-color);
}

.nav__item {
  margin-bottom: 8px;
}

.nav__list {
  line-height: 3rem;
}
.nav__list :hover {
  background-color: rgba(75, 219, 219, 0.712);
}

.nav__link {
  color: var(--white-color);
}

span,
.nav__toggle {
  font-size: 2rem;
  color: var(--white-color);
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 15%;
}

/*===== HOME =====*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("https://github.com/bedimcode/parallax-scrolling-website/blob/master/assets/img/imgm1.png?raw=true");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("https://github.com/bedimcode/parallax-scrolling-website/blob/master/assets/img/imgm2.png?raw=true");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("https://github.com/bedimcode/parallax-scrolling-website/blob/master/assets/img/imgm3.png?raw=true");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("https://github.com/bedimcode/parallax-scrolling-website/blob/master/assets/img/imgm4.png?raw=true");
  z-index: var(--z-fixed);
}

.home__title,
.home__subtitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white-color);
}

.home__title {
  top: 20%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}

.home__subtitle {
  top: 50%;
  font-size: var(--h2-font-size);
  font-weight: bold;
  z-index: var(--z-tooltip);
}

.home__scroll {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

/*===== SECTION =====*/
.l-section {
  background-color: var(--dark-color);
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.section__data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: center;
  margin-bottom: 0;
}

.section__title {
  width: 100%;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__text {
  text-align: left;
}

/*===== SOCIAL =====*/
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}
/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 450px) {
  .section {
    align-items: initial;
    justify-content: initial;
    background-color: var(--dark-color);
  }

  .section__data {
    width: 90%;
    flex-direction: column;
    align-items: initial;
  }
  .sqa,
  .sqa2 {
    margin: 0;
    margin-bottom: 20px;
    min-width: 180px;
  }

  .card-container {
    flex-direction: column;
  }
  .home__title {
    top: 20%;
    padding: 5%;
    font-size: 3rem;
  }

  .home__subtitle {
    top: 50%;
    font-size: 1.5rem;
  }
  .container {
    padding: 2%;
  }
}
@media screen and (min-width: 460px) {
  .home__title {
    top: 20%;
    padding: 5%;
    font-size: 3rem;
  }

  .home__subtitle {
    top: 50%;
    font-size: 1.5rem;
  }
  .container {
    padding: 3%;
  }
  .sqa2 {
    min-width: 250px;
  }
}
@media screen and (min-width: 670px) {
  .home__title {
    top: 20%;
    padding: 5%;
    font-size: 3.4rem;
  }

  .home__subtitle {
    top: 50%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 750px) {
  .home__title {
    padding: 5%;
    top: 20%;
    font-size: 5rem;
  }

  .home__subtitle {
    top: 50%;
    font-size: 3rem;
  }
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .section__text {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__title {
    padding: 5%;
    top: 20%;
    font-size: 6rem;
  }

  .home__subtitle {
    top: 50%;
    font-size: 4rem;
  }
  .section {
    text-align: left;
    max-width: 1200px;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*===== FORMULARIO =====*/

.container {
  margin-left: 7%;
  width: 95%;
  max-width: 600px;
  color: #ccc;
  border-radius: 5px;
  background-color: #2e2d2d;
  padding: 20px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: "Orbitron";
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
textarea {
  margin-bottom: 5%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  font-family: "Orbitron";
  background-color: #06085c69;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #3b4b6e;
}
textarea ::selection {
  background-color: darkgray;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
  margin-right: 6px;
}

.col-75 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.button {
  max-width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide,
/ make the two columns stack on top of each other
/ instead of next to each other */

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
